<h1>Action Blasters</h1>
<% if current_user %>

  <h2>Locations</h2>
    <% if @locations.any? %>
    <ul>
      <% @locations.each do |location| %>
        <li><%= link_to location.name, game_location_path(location) %></li>
      <% end %>
  </ul>
  <% else %>
    <p>No locations added yet.</p>
  <% end %>
  <h2>Players</h2>
    <% if @players.any? %>
    <ul>
      <% @players.each do |player| %>
        <li><%= link_to player.name, game_player_path(player) %></li>
      <% end %>
  </ul>
  <% else %>
    <p>No players added yet.</p>
  <% end %>
  <p><%= link_to "Add an Location", new_game_location_path(@location, game_id: @game.id) %></p>
  <% if @locations.any? %>
  <p><%= link_to "Add a Player", new_game_player_path(@player, game_id: @game.id) %></p>
  <% end %>

  <% if @locations.any? && @players.any? %>
    <%= button_to "Start Game", edit_game_path, method: :get%>
  <% else%>
    <br><p>Add a location and a player to start the game</p>
  <% end%>
<% else %>
  <br>
  <h3>Please Sign in to view game details</h3>
  <br>
<% end %>
